In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://lzz55827:931%5Efn5r8jd98f5z@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: lzz55827@BLUDB'

In [4]:
# Finding the total number of crimes recorded in the Crime table
%sql select count(*) AS NO_OF_CRIMES from CHICAGO_CRIME

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [5]:
# Retrieve first 10 rows from the CRIME table

%sql select * from CHICAGO_CRIME limit 10

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '02/10/2018 03:50:01 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '02/28/2018 03:56:25 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '02/10/2018 03:50:01 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '02/10/2018 03:50:01 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '02/10/2018 03:50:01 PM', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '02/10/2018 03:50:01 PM', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '02/28/2018 03:56:25 PM', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '02/28/2018 03:56:25 PM', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '02/28/2018 03:56:25 PM', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

In [9]:
# How many crimes involve an arrest

%sql select description, count(arrest) as no_of_crimes_involved_as_arrest 
from CHICAGO_CRIME 
group by description, arrest having arrest = 'TRUE'

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('$500 AND UNDER', Decimal('6')),
 ('AGG CRIMINAL SEXUAL ABUSE', Decimal('1')),
 ('AGG PO HANDS NO/MIN INJURY', Decimal('1')),
 ('AGGRAVATED DOMESTIC BATTERY', Decimal('1')),
 ('AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON', Decimal('1')),
 ('AGGRAVATED PO: OTHER DANG WEAP', Decimal('1')),
 ('AGGRAVATED: HANDGUN', Decimal('2')),
 ('AGGRAVATED: OTHER DANG WEAPON', Decimal('1')),
 ('AGGRAVATED:KNIFE/CUTTING INSTR', Decimal('1')),
 ('ATTEMPT POSSESSION NARCOTICS', Decimal('2')),
 ('AUTOMOBILE', Decimal('1')),
 ('BOMB THREAT', Decimal('1')),
 ('CALL OPERATION', Decimal('1')),
 ('CRIM SEX ABUSE BY FAM MEMBER', Decimal('1')),
 ('DOMESTIC BATTERY SIMPLE', Decimal('6')),
 ('DOMESTIC VIOLENCE', Decimal('1')),
 ('ESCAPE', Decimal('1')),
 ('FALSE/STOLEN/ALTERED TRP', Decimal('2')),
 ('FIRST DEGREE MURDER', Decimal('1')),
 ('FORCIBLE ENTRY', Decimal('1')),
 ('FOUND SUSPECT NARCOTICS', Decimal('1')),
 ('FRAUD OR CONFIDENCE GAME', Decimal('1')),
 ('GAME/DICE', Decimal('2')),
 ('ILLEGAL CONSUMPTION BY MINOR', Decimal('1')),
 ('INTOXICATING COMPOUNDS', Decimal('1')),
 ('LICENSED PREMISE', Decimal('1')),
 ('MANU/DEL:CANNABIS 10GM OR LESS', Decimal('1')),
 ('MANU/DELIVER: HEROIN (WHITE)', Decimal('4')),
 ('MANU/DELIVER: METHAMPHETAMINES', Decimal('1')),
 ('MANU/DELIVER:CRACK', Decimal('1')),
 ('NON-AGGRAVATED', Decimal('1')),
 ('OBSCENE MATTER', Decimal('1')),
 ('OTHER', Decimal('2')),
 ('OTHER VEHICLE OFFENSE', Decimal('2')),
 ('PAROLE VIOLATION', Decimal('1')),
 ('POSS: CANNABIS 30GMS OR LESS', Decimal('25')),
 ('POSS: COCAINE', Decimal('2')),
 ('POSS: CRACK', Decimal('6')),
 ('POSS: HEROIN(WHITE)', Decimal('7')),
 ('PRO EMP HANDS NO/MIN INJURY', Decimal('1')),
 ('RECKLESS CONDUCT', Decimal('2')),
 ('RETAIL THEFT', Decimal('9')),
 ('SELL/GIVE/DEL LIQUOR TO MINOR', Decimal('1')),
 ('SIMPLE', Decimal('14')),
 ('SOLICIT FOR BUSINESS', Decimal('1')),
 ('SOLICIT NARCOTICS ON PUBLICWAY', Decimal('3')),
 ('SOLICIT ON PUBLIC WAY', Decimal('4')),
 ('STRONGARM - NO WEAPON', Decimal('3')),
 ('THEFT BY LESSEE,MOTOR VEH', Decimal('1')),
 ('THEFT OF LABOR/SERVICES', Decimal('2')),
 ('THEFT OF LOST/MISLAID PROP', Decimal('2')),
 ('TO LAND', Decimal('8')),
 ('TO PROPERTY', Decimal('5')),
 ('TO RESIDENCE', Decimal('1')),
 ('TO STATE SUP LAND', Decimal('4')),
 ('TO VEHICLE', Decimal('1')),
 ('UNLAWFUL POSS OF HANDGUN', Decimal('4')),
 ('UNLAWFUL POSS OTHER FIREARM', Decimal('1')),
 ('VIOLATE ORDER OF PROTECTION', Decimal('2'))]

In [30]:
# Which unique types of crimes have been recorded at a GAS STATION?

%sql select DISTINCT primary_type as types_of_crime, location_description as location 
from chicago_crime 
where location_description = 'GAS STATION'

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS', 'GAS STATION'),
 ('NARCOTICS', 'GAS STATION'),
 ('ROBBERY', 'GAS STATION'),
 ('THEFT', 'GAS STATION')]

In [34]:
# In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

%sql select community_area_name from chicago_socioeconomic where community_area_name like 'B%'

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

In [36]:
# Which schools in Community Areas 10 to 15 are healthy school certified?

%sql select community_area_number, community_area_name, name_of_school, healthy_school_certified 
from chicago_school_reports 
where community_area_number between 10 and 15 and healthy_school_certified = 'Yes'

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(10, 'NORWOOD PARK', 'Rufus M Hitch Elementary School', 'Yes')]

In [43]:
# What is the average school Safety Score?

%sql select decimal(avg(safety_score),8,2) as average_safety_score from chicago_school_reports

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.50'),)]

In [4]:
# List the top 5 Community Areas by average College Enrollment [number of students]

%sql select community_area_number, community_area_name, decimal(avg(college_enrollment),8,2) as avg_col_enrollment 
from chicago_school_reports group by community_area_number, community_area_name 
order by avg_col_enrollment desc 
limit 5

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(57, 'ARCHER HEIGHTS', Decimal('2411.50')),
 (18, 'MONTCLARE', Decimal('1317.00')),
 (62, 'WEST ELSDON', Decimal('1233.33')),
 (58, 'BRIGHTON PARK', Decimal('1205.87')),
 (19, 'BELMONT CRAGIN', Decimal('1198.83'))]

In [7]:
# Use a sub-query to determine which Community Area has the least value for school Safety Score? Solution is given using 
# sub query by GROUP BY

%sql select community_area_number, community_area_name, safety_score 
from ( 
        select community_area_number, community_area_name, safety_score from chicago_school_reports 
        group by community_area_number, community_area_name, safety_score 
        order by min(safety_score) limit 1
     )

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(40, 'WASHINGTON PARK', 1)]

In [46]:
# [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score
# of 1

%sql select c.community_area_number, c.community_area_name, s.per_capita_income 
from chicago_school_reports as c, chicago_socioeconomic as s 
where c.community_area_number = s.community_area_number and safety_score = '1'

 * ibm_db_sa://lzz55827:***@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(40, 'WASHINGTON PARK', 13785)]